@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bulls and Cows</h1>
    <p class="lead">Each player /User and AI(pc)/ guess one number</p>
    <p>Then, in turn, the players try to guess their opponent's number who gives the number of matches. If the matching digits are in their right positions, they are "bulls", if in different positions, they are "cows".</p>
</div>

<div class="row">
    <div class="col-md-8">
        <ul>
            <li>ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</li>
            <li>Autofac is an addictive Inversion of Control container for .NET Core, ASP.NET Core, .NET 4.5.1+, Universal Windows apps, and more.</li>
            <li>jQuery is a fast, small, and feature-rich JavaScript library. </li>
            
        </ul>
        <br/>
        
        <ul>
            <li>Web app is separate on several projects</li>
            <li>Repository pattern is implemented.</li>
            <li>Ajax calls are uses to transfer small data.</li>
        </ul>
    </div>
</div>